<br>
<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/sightings/region/">View sightings by region</a></li>
      <li><a href="/species/new/">New Species</a></li>
      <li><a href="/sightings/dates">View sightings by date range</a></li>
    </ul>
  </div>
</div>


    </ul>



<h1>New Sighting for <%= @species.name %></h1>

  <% if @sighting.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
</ul>
  <% end %>

<div class="form-group">
<form action="." method="post">
  <label class="control-label" for="latitude">Latitude</label>
  <input class="form-control" id="latitude" name="latitude" type="text" value="<%= @sighting.latitude %>">

  <label class="control-label" for="longitude">Longitude</label>
  <input class="form-control" id="longitude" name="longitude" type="text" value="<%= @sighting.longitude %>">

  <label class="control-label" for="date">Date</label>
  <input class="form-control" id="date" name="date" type="text" value="<%= @sighting.date %>">
  <br>

  <label for="region_id">Region</label>
  <select name="region_id">
    <option value="1">NorthWest</option>
    <option value="2">SouthWest</option>
    <option value="3">SouthEast</option>
    <option value="4">NorthEast</option>

  </select>
  <br>
  <br>

  <button class="btn btn-default">Enter Sighting</button>
</form>
</div>
</div>

</div>
