<h1><%= @species.name %></h1>

<h2>Existing sightings:</h2>

<ul>
  <% @species.sightings.each do |time| %>
  <% if time.region_id == 1 %>
    <% @region = "Northwest" %>
  <% elsif time.region_id == 2 %>
    <% @region = "Southwest" %>
  <% elsif time.region_id == 3 %>
    <% @region = "Southeast" %>
  <% elsif time.region_id == 4 %>
    <% @region = "Northeast" %>
  <% end %>
    <li><a href="/species/<%= @species.id %>/sightings/<%= time.id %>"><%= time.latitude %>    <%= time.longitude %>    <%= time.date %>    <%= @region %></li>
  <% end %>
</ul>

<p><a href="/species/<%= @species.id %>/sightings/new">Enter new sighting</a></p>



<p><a href="/species/<%= @species.id %>/edit">Edit</a></p>
<p><a href="/species/<%= @species.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>


<p><a href="/species">Return to species list</a></p>
