<br>
<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/sightings/region/">View sightings by region</a></li>
      <li><a href="/species/new/">New Species</a></li>
      <li><a href="/sightings/dates">View sightings by date range</a></li>
    </ul>
  </div>
</div>

  <h1>Sightings in the <%= @region.name %></h1>
<table class="table table-striped table-hover" >
  <thead>
  <tr class="active">
    <th>Species</th><th>Latitude</th><th>Longitude</th><th>Date</th>
  </tr>
</thead>
<tbody>
  <% @sightings_for_region.each do |i| %>
    <tr class="primary"><td><a href="/species/<%= i.species_id %>/sightings/<%= i.id %>"><%= i.species.name %></a></td><td><%= i.latitude %></td><td><%= i.longitude %></td><td><%= i.date %></td>
  </tr>
  <% end %>
</tbody>
</table>



</div>

